@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


:root {
  --main-blue: #0D0C22;
  --main-pink: #EA4C89;
  --bg-white: #EAECED;
  --main-gray: #5C6269;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--bg-white);
}

header {
  padding: 0 20px;
  background-color: var(--main-blue);
  color: #eee;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
}

#logo {
  display: flex;
  align-items: center;
}

#logo a {
  color: var(--main-pink);
  font-size: 20px;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: #eee;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

ul li a:hover {
  color: var(--main-pink);
}

.container {
  padding-top: 10em;
  padding-bottom: 10em;
}

.container, .contact-container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

#intro, main p {
  text-align: center;
}

main img {
  display: block;
  margin: 0 auto;
  width: 30em;
}

.section-container {
  margin-top: 100px;
}

.section-name {
  text-align: center;
  font-size: 2.7rem;
}

#intro {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 3rem;
}

.highlight {
  color: var(--main-pink);
}

main p {
  font-size: 1.5rem;
  color: #777;
}

.section-name {
  margin-bottom: 15px;
}

#projects {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}


.cards {
  display: flex;
  gap: 1.3rem;
  pointer-events: none;
}


.card {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-bottom: 15px;

  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
  transition: all 150ms ease-in-out;

  display: flex;
  flex-direction: column;
}

.card-title {
  position: relative;
}

.card-title::before {
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  box-shadow: inset 0 0 3px #bb86fc;
  background-color: transparent;

  position: absolute;
  right: 0;
}

.card:nth-child(even) {
  transform: translateY(8px);
}

.card:nth-child(n) {
  transform: rotate(-5deg);
}

.cards:hover > .card:hover {
  transform: scale(1.15);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 10;
}

.cards:hover > .card:not(:hover) {
  opacity: 0.5;
}




/*
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card-container {
  padding: 2px 16px;
}

.card-container span {
  font-style: italic;
}
*/


#contact {
  background-color: var(--main-gray);
  margin-top: 50px;
  padding: 50px;
}

footer {
  padding: 50px 0;
  background-color: #000;
  color: #eee;
}

footer p {
  text-align: center;
}



@media (max-width:930px) {

  main img {
    width: 20em;    
  }

  .cards {
    display: block;
  }

  .card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  #contact {
    margin: 0 auto;
    padding: 50px 20px;
  }
}
